.withraw {
  color: rgb(218, 18, 18);
  margin-left: 23%;
  font-size: larger;
  text-shadow: -1px 1px 0 #161b22;
  margin-right: auto;
  margin-left: auto;
}

.deposit {
  color: green;
  margin-left: 23%;
  text-shadow: -1px 1px 0 #161b22;
  font-size: larger;
  margin-right: auto;
  margin-left: auto;
}

.transaction-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f5954d;
  width: 20%;
  margin: 1.5%;
  margin-left: 40%;
}

.delete-btn {
  margin-right: 0px;
  margin-left: auto;
}

.catrgory-mame {
  background-color: aqua;
  margin: 1.5%;
  color: #0d1117;
  font-size: larger;
  text-shadow: -1px 1px 0 #161b22;
}

.transaction-name {
  margin: 1.5%;
  color: #0d1117;
  font-size: large;
  text-shadow: -1px 1px 0 #161b22;
}

.delete-btn {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.delete-btn:hover,
.delete-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.delete-btn:active {
  opacity: 0.5;
}

input {
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: #fff;
  appearance: none;
  width: 40%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
}

input:hover {
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

input:focus {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
