.balance-container {
  color: rgb(203, 35, 35);
}

.balance-content {
  margin: 1.5%;
  color: #0d1117;
  font-size: xx-large;
  text-shadow: -1px -1px 0 #30363d, 1px -1px 0 #21262d, -1px 1px 0 #161b22,
    1px 1px 0 #0d1117;
}
